#login_page {
    @include bg_style($background);
    font-family: $font_familly;
}

.login_header {
    display: flex;
    .logo {
        margin: 43px auto 83px auto;
    }
}

.login_body {
    display: flex;
}

#login {
    margin: auto;
    width: 33.3333%;
    background-color: $corlor_rgba;
}

#login {
    h2 {
        @include font(36px, auto, 60px);
        margin-left: 10%;
        margin-bottom: 39px;
        padding-top: 55px;
        color: $color_white0;
    }
    .login_button {
        @include border_style(none, 3px, none);
        @include font(16px, none, 27px);
        margin: 10px auto 11px 10%;
        width: 80%;
        height: 45px;
        color: $color_white0;
    }
    #forgot_pw {
        @include font(12px, none, 20px);
        float: right;
        margin: 14px 10% 18.5px auto;
        color: $color_white0;
    }
    #lg {
        background-color: $color_lightgreen;
    }
    #tw_login {
        background-color: $color_lightblue;
    }
    #fb_login {
        background-color: $color_mediumblue;
    }
    .more {
        padding-bottom: 34px;
        margin-top: 23px;
        margin-left: 30%;
        width: 165px;
    }
    .logo_button {
        flex: 1;
    }
}

#login_form {
    .login_item {
        display: block;
        @include border_style(none, 3px, $color_gray44);
        margin: 7px auto;
        padding-top: 7px;
        background-color: $color_white0;
        color: $color_black;
        width: 80%;
        height: auto;
        label {
            padding-left: 21px;
        }
    }
    .item_input {
        @include font(16px, none, 30px);
        border: none;
        width: 100%;
        height: auto;
        padding-left: 21px;
        outline: none;
    }
    .text {
        display: block;
        padding: 5px;
        margin: auto;
        font-weight: 300;
        width: 80%;
    }
}

#reg::before {
    content: "New to Eko? ";
    font-size: 16px;
    color: $color_whitegray2;
}

.login_footer {
    display: flex;
    .footer_content {
        @include font(16px, none, 20px);
        margin: 52px auto 49px auto;
        color: $color_whitegray2;
    }
}

// responsive
@include breakpoint(res_480) {
    .login_header {
        .logo {
            margin: 20px auto 45px auto;
        }
    }
    .login_body {
        #login {
            width: 90%;
            h2 {
                padding-top: 30px;
                margin-bottom: 0px;
            }
        }
    }
    .login_footer {
        .footer_content {
            margin: 37px auto 42px auto;
        }
    }
}

@include breakpoint(res_768) {
    .login_header {
        .logo {
            margin: 25px auto 65px auto;
        }
    }
    .login_body {
        #login {
            width: 90%;
            h2 {
                padding-top: 30px;
                margin-bottom: 0px;
            }
        }
    }
    .login_footer {
        .footer_content {
            margin-top: 42px;
            margin-bottom: 47px;
        }
    }
}

@include breakpoint (res_992) {
    .login_header {
        .logo {
            margin: 40px auto 85px auto;
        }
    }
    .login_body {
        #login {
            width: 90%;
            h2 {
                padding-top: 60px;
                margin-bottom: 44px;
            }
            .login_item {
                margin: 20px auto;
                height: 65px;
            }
            .login_button {
                height: 50px;
                margin-bottom: 16px;
            }
            .more {
                width: 25%;
                margin-left: 40%;
            }
        }
    }
    .login_footer {
        .footer_content {
            margin: 63px auto 67px auto;
        }
    }
}

@include breakpoint(res_1280) {
    .login_header {
        .logo {
            margin: 55px auto 105px auto;
        }
    }
    .login_body {
        #login {
            width: 43.333%;
            h2 {
                padding-top: 60px;
                margin-bottom: 44px;
            }
            .login_item {
                margin: 20px auto;
                height: 65px;
            }
            .login_button {
                margin-bottom: 16px;
                height: 50px;
            }
            .more {
                width: 40%;
                margin-left: 33.333%;
            }
        }
    }
    .login_button {
        .footer_content {
            margin: 63px auto 67px auto;
        }
    }
}