#register_page {
    @include bg_style($background);
    font-family: $font_familly;
    height: 100vh;
}

.register_header {
    display: flex;
    .logo {
        margin: 28px auto;
    }
}

.register_body {
    @extend .register_header;
    position: relative;
}

#register {
    @include padVsMg(20px 70px, auto);
    width: 60%;
    line-height: 27px;
    background-color: $corlor_rgba;
}

#register {
    h2 {
        color: $color_white0;
        font-size: 36px;
        margin-bottom: 15px;
    }
    .register_list {
        overflow: hidden;
        margin: auto -5px;
    }
    .register_item {
        background-color: $color_white0;
        float: left;
        width: 48.5%;
        margin: 10px 5px;
        border-radius: 3px;
    }
    .register_heading {
        font-size: 12px;
        width: 100%;
        margin-left: 20px;
    }
    .register_content {
        font-size: 16px;
        width: 90%;
        border: none;
        outline: none;
        margin-left: 20px;
    }
    .description {
        background-color: $color_white0;
        border-radius: 3px;
        margin-top: 10px;
    }
    #capcha_logo {
        position: absolute;
        right: 39.6px;
        display: grid;
        #title {
            text-align: center;
        }
    }
}

.register_button {
    button {
        width: 49%;
        height: 45px;
        margin-top: 35px;
        color: $color_white0;
        border-width: thin;
        border-radius: 3px;
    }
    #back {
        @extend button;
        background-color: $color_black;
        border-color: $color_white0;
    }
    #next {
        @extend button;
        background-color: $color_lightgreen;
        border-color: $color_lightgreen;
    }
}

.register_footer {
    margin: 34px auto 54px auto;
    color: $color_white0;
    display: flex;
    p {
        margin: auto;
    }
}

// responsives
@include breakpoint (res_480) {
    #register {
        width: 85%;
        padding: 20px 30px;
        line-height: 22px;
        h2 {
            font-size: 31px;
        }
        .register_list {
            margin: auto -15px;
        }
        .register_item {
            width: 100%;
        }
        .register_content {
            width: 85%;
        }
        .description {
            margin: auto -15px;
        }
    }
    #capcha_logo> {
        right: -5%;
        bottom: 2%;
        img {
            width: 50%;
        }
    }
}

@include breakpoint(res_768) {
    #register {
        width: 85%;
        padding: 20px 30px;
        line-height: 22px;
        h2 {
            font-size: 31px;
            margin-left: 8%;
        }
        .register_list {
            width: 90%;
            margin: auto;
        }
        .register_item {
            width: 100%;
            margin: 10px;
        }
        .register_content {
            width: 85%;
        }
        .description {
            width: 90%;
            margin: auto;
            // margin-top: 10px;
            // margin-left: 20px;
        }
        .register_button {
            width: 90%;
            margin: auto;
        }
    }
    #capcha_logo> {
        right: -2%;
        bottom: 2%;
        img {
            width: 60%;
        }
    }
}

@include breakpoint(res_992) {
    #register {
        width: 85%;
        padding: 20px 30px;
        line-height: 22px;
        h2 {
            font-size: 33px;
            margin-left: 10%;
        }
        .register_list {
            width: 95%;
            margin: auto;
        }
        .register_item {
            width: 100%;
            margin: 10px;
        }
        .register_content {
            width: 85%;
        }
        .description {
            width: 95%;
            margin: auto;
            // margin-top: 10px;
        }
        .register_button {
            width: 95%;
            margin: auto;
        }
    }
    #capcha_logo> {
        right: 3%;
        img {
            width: 70%;
        }
    }
}

@include breakpoint(res_1280) {
    #register {
        width: 85%;
        padding: 20px 30px;
        line-height: 22px;
        h2 {
            font-size: 35px;
            margin-left: 15%;
        }
        .register_list {
            width: 75%;
            margin: auto;
        }
        .register_item {
            width: 100%;
            margin: 15px;
        }
        .register_content {
            width: 85%;
        }
        .description {
            width: 75%;
            margin: 10px auto auto auto;
        }
        .register_button {
            width: 75%;
            margin: auto;
        }
    }
    #capcha_logo> {
        right: 7%;
        img {
            width: 75%;
        }
    }
}