    // Scss mixins
    @mixin bg_style($bg) {
        background: $bg;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    @mixin style($bg) {
        background: $bg;
        background-repeat: no-repeat;
        background-size: cover;
        height: $bg_height;
    }
    
    @mixin header-style {
        display: $display_header;
    }
    
    @mixin border_style($border-style, $borber-radius, $border-color) {
        border-style: $border-style;
        border-radius: $borber-radius;
        border-color: $border-color;
    }
    
    @mixin font($size, $weight, $line-height) {
        font-size: $size;
        font-weight: $weight;
        line-height: $line-height;
    }
    
    @mixin padVsMg ($padding, $margin) {
        padding: $padding;
        margin: $margin;
    }
    
    @mixin breakpoint($point) {
        @if $point==res_480 {
            @media #{$res_480} {
                @content ;
            }
        }
        @else if $point==res_768 {
            @media #{$res_768} {
                @content ;
            }
        }
        @else if $point==res_992 {
            @media #{$res_992} {
                @content ;
            }
        }
        @else if $point==res_1280 {
            @media #{$res_1280} {
                @content ;
            }
        }
    }