// Scss variables (colours etc...)
$background: url("/app/images/background.png");
$color_white1:#F5F5F5;
$color_white0: #fff;
$color_white2:#F4F4F4;
$color_white3:#FAFAF9;
$color_white4:#EAEAEA;
$color_white5:#E6E6E5;
$corlor_rgba: rgba(0,
0,
0,
0.5);
$color_black:#000000;
$color_gray1:#52595C;
$color_gray44:#707070;
$color_whitegray:#7E8998;
$color_whitegray2:#A8A8A8;
$color_grey:#536876;
$color_greyish:#C0C9D5;
$color_blue:#2196F3;
$color_lightblue:#3CA6CC;
$color_mediumblue:#264F88;
$color_darkblue: #203442;
$color_lightgreen: #2F9A4C;